
@media screen {mmin-width: 375px;}

div{
    width: 100%;
}

.location
{
    width: 375px;
    height: 575px;
    margin-top: -10px;
}

.button
{
    background-color: #151515; 
    width: 208px;
    height: 64px;
    margin-left: 56px;
    margin-bottom: -60px;
    position: relative;
    z-index: index;
}

.back-button
{
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: space-around;
    color: white;
    text-decoration: none;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 4px;
}

.triangle
{   
    width: 56px;
    height: 64px;
    background-color: #D5966C;
    position: absolute;
    right: 208px;
    margin-right: 111px;
}

.arrow-left
{
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 10px;
    width: 10px;
    padding: 3px;
    margin-left: 22px;
    margin-top: 23px;
    transform: rotate(135deg);
}

.location-info
{
    width: 375px;
    height: 493px;
    background-color: #151515;
    margin-top: -37px;
}

.headline
{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Big Shoulders Display', cursive;
    width: 343px;
    color: white;
    padding-top: 50px;
    padding-left: 16px;
}

.street
{
    width: 343px;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 38px;
    color: #D5966C;
    margin-left: 16px;
}

.information-div
{
    width: 343px;
    height: 84px;
    line-height: 0.8;
    margin-left: 16px;
}

.information1
{
    font-weight: 300;
    font-size: 18px;
    font-family: 'outfit';
    color: white;
}

.information2
{
    font-weight: 300;
    font-size: 18px;
    font-family: 'outfit';
    color: white;
}

.information3
{
    font-weight: 300;
    font-size: 18px;
    font-family: 'outfit';
    color: white;
}

.body-text-info
{
    margin-top: 25px;
}

.body-text
{
    font-weight: 300;
    font-size: 18px;
    font-family: 'outfit';
    color: white;
    line-height: 1.4;
}

.footer
{
    width: 375px;
    height: 375px;
    background-color: #D5966C;
    margin-top: -25px;
}

.footer-header-div
{
    width: 165px;
    height: 40px;
}

.footer-header
{
    padding-top: 48px;
    padding-left: 32px;
    font-weight: 900;
    color: #151515;
    font-size: 25px;
    font-family: 'Big Shoulders Display', cursive;
}

.footer-text-box
{
    width: 311px;
    height: 104px;
}

.footer-text
{
    padding-left: 32px;
    margin-top: 25px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 16px;
    font-family: 'outfit';
    color: #151515;
    padding-top: 70px;
}

.icons
{
    width: 100px;
    height: 20px;
    padding-left: 32px;
    padding-top: 95px;
    color: #151515;
}

.insta
{
    padding-left: 15px;
}

.twitter
{
    padding-left: 15px;
}
